header {
    background-color: red;
    font-family: "Fira Code Retina", Consolas, monospace;
}

header a:link, a:visited {
    background-color: hotpink;
    color: white;
    padding: 16px 24px;
    font-family: Georgia, serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

header a:hover, a:active {
    background-color: red;
}

.header-logo {
    font-size: 38px;
    float: left;
}

.header-menu {
    font-size: 14px;
}

.header-list {
    list-style: none;
}

.header-item {
    float: left;
    padding: 20px 20px;
}

main {
    clear: left;
}

h1 {
    background-color: #da0;
}

p {
    color: #00a;
}
